@font-face{
    font-family: 'RL';
    src: url(../fonts/Rubik-Light.ttf);
}
@font-face{
    font-family: 'RR';
    src: url(../fonts/Rubik-Regular.ttf);
}
@font-face{
    font-family: 'RB';
    src: url(../fonts/Rubik-Bold.ttf);
}